.app {
  background-color: #2E3138;
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Quicksand', Arial, Helvetica, sans-serif;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between
}

.app__container {
  width: 100%;
  display: flex;
  flex-grow: 1;
}
